@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    
}
body{
    background-image: url("imagens/fundoarte2.jpg");

}
#apresenta1{
   
    border:  1px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    width: 95vw;
    height: 1680px;
}
img{
    position: relative;
    margin: auto;
    margin-left:25px;
   
}
#img1{
    margin-top: 10px;
    position: relative;
    margin: auto;
    margin-left:25px;
}
#a1{
    display: block;
    text-align: center;
    font-family:'Oleo Script Swash Caps', cursive;
    font-size: 17px;
    text-shadow: 2px 5px 6px black;
    color: yellow;
    text-decoration: none;
    background-color: rgba(20, 39, 1, 0.493);
    border-radius: 10px; 
}
#a1:hover{
    background-color: rgba(137, 191, 238, 0.089);
    color: rgb(245, 245, 233);
    font-size: 15px;
}
#apresenta2{
    position: relative;
           border: 1px solid white;
           border-radius: 10px;
           margin:auto;  
           margin-top: 10px;
           display: block;
           width: 95vw;   
           height: 1760px;
       font-family: 'Oleo Script Swash Caps', cursive;     
       font-size: 13px;
           color: white;
           text-shadow: 2px 5px 6px black;
           padding: 0px;

}
#apresenta3{
    position: relative;
           border: 1px solid white;
           border-radius: 10px;
           margin:auto;  
           margin-top: 10px;
           display: block;
           width: 95vw;   
           height: 2510px;
       font-family: 'Oleo Script Swash Caps', cursive;     
       font-size: 13px;
           color: white;
           text-shadow: 2px 5px 6px black;
           padding: 0px;

}

#imagem1{
   position: relative;
    margin: auto;
    margin-left:25px;
    margin-top: 20px;
   
}
#imagem2{  
    position: relative;
     margin: auto;
     margin-left:25px;
     margin-top: 20px;
    
 }
 #imagem3{
    position: relative;
     margin: auto;
     margin-left:25px;
     margin-top: 20px;
    
 }
 #imagem4{
    position: relative;
     margin: auto;
     margin-left:25px;
     margin-top: 20px;
    
 }
nav{
    background-color: rgba(97, 119, 91, 0.24);
    
    border-radius: 10px;
    margin: auto;
    margin-top: 0px;
    display:flex;
    justify-content: center;
   width: 17vw;
   height:30px ;
 
}
nav>#aI{
   font-size: 23px;
   color: white;
   text-decoration: none;
   font-family:'Oleo Script Swash Caps', cursive;
   text-shadow: 2px 5px 6px black;
}
nav:hover{
    background-color: rgba(243, 225, 212, 0.158);
   
}
nav>#aI:hover{
    color: rgb(251, 255, 0);
}
#intro{
    margin: auto;
    padding: 10px;
}

h1{
    font-family:'Oleo Script Swash Caps', cursive;
    text-shadow: 2px 5px 6px black;
    text-align: center;
    color: yellow;
}

a{
   
    display: block;
    text-align: center;
    font-family:'Oleo Script Swash Caps', cursive;
    font-size: 17px;
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.658);
    color: yellow;
    text-decoration: none;
    background-color: rgba(20, 39, 1, 0.493);
    border-radius: 10px;
   
   
}
a:hover{
    background-color: rgba(137, 191, 238, 0.089);
    color: rgb(245, 245, 233);
    font-size: 15px;
}
p{
    font-family:'Oleo Script Swash Caps', cursive;
    text-shadow: 2px 5px 6px black;
    text-indent: 30px;
    color: white;
    text-align: justify;
}
