@charset "UTF-8";

@media screen and (min-width: 768px)
{
    i#burger{
        display: none;
    }
      
    nav{
        display: block;
    }
    nav{
      text-align: center;
     
     
    }
    nav>ul>li{
        display: inline-block;
        padding: 20px;
    }
    nav>ul>li>a{
        font-size: 30px;
    }
  #imagem{
    font-size: 30px;
  }
  #seriado2{
    font-size: 30px;
  }
  #seriado3{
    font-size: 30px;
  }
  #seriado4{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
  #intro{
    width: 80vw;
   
  }
  #intro>p{
    font-size: 27px;
    text-indent: 50px;
    text-align: justify;
  }
  iframe{
    width: 850px;
    height: 660px;
  }
  #apresenta1{
height: 750px;
  }
  #apresenta2 {
  height: 1380px;
  }
  #im{
display: flex;
justify-content:space-around;
padding: 20px;
  }
  #im1{
    margin: auto;
    display: flex;
    justify-content: center;
   
  }
}